
@{
    ViewBag.Title = "Index";
}

<h2>Practice HTML Helper Controls</h2>
<hr />

@*<h4>DropDownList</h4>
@Html.DropDownList("Departments", new SelectList(ViewBag.Departments, "Id", "Name"), "Select...", new { @class = "form-control" })

<hr />
<h4>DropDownList of enums</h4>
@Html.DropDownList("EmployeeGender", new SelectList(ViewBag.Genders, "Value", "Text"), "Select...", new { @class = "form-control" })*@


